In [2]:
import pandas as pd
import requests
import re

In [3]:
from bs4 import BeautifulSoup
page = "http://socr.ucla.edu/docs/resources/SOCR_Data/SOCR_Data_Dinov_020108_HeightsWeights.html"
data  = requests.get(page).text

In [4]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

In [7]:
#find all html tables in the web page
tables = soup.find_all('table')

In [10]:
df = pd.DataFrame(columns=["index", "height", "weight"])
pop = []
tables = soup.find_all('table')
for row in tables[0].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        index = col[0].text
        height = col[1].text
        weight = col[2].text.strip()
        pop.append({"index":index, "height":height, "weight":weight})

df = pd.DataFrame(pop)
df.drop(index=df.index[0], axis=0, inplace=True)
df.set_index('index')

         height    weight
index
1      65.78331  112.9925
2      71.51521  136.4873
3      69.39874  153.0269
4       68.2166  142.3354
5      67.78781  144.2971
...         ...       ...
24996  69.50215  118.0312
24997  64.54826  120.1932
24998  64.69855  118.2655
24999  67.52918  132.2682
25000  68.87761  124.8742

[25000 rows x 2 columns]

In [11]:
df.to_csv('/Users/sepid/Documents/DataAnalysisWithPython/IBM_data_analyst/UCLA-SOCR.csv',index=False)